* {
    margin: 0;
    padding: 0;
}

body {
    background: #1e1e2f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
}

#scoreBox {
    position: absolute;
    top: -40px;
    left: 0;
    color: white;
    font-size: 20px;
}

#board {
    width: 400px;
    height: 400px;
    background: #2c2c54;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    border: 3px solid white;
}

.head {
    background-color: red;
    border-radius: 50%;
}

.snake {
    background-color: limegreen;
    border-radius: 5px;
}

.food {
    background-color: yellow;
    border-radius: 5px;
}
